<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="api.utilities.ExtentReporterManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Pablo_Velazquez/Documents/APIAutomationFramework/src/test/java/api/test">
        <classes>
            <class name="api.test.UserTests">

            </class>
        </classes>
    </test>
</suite>